<h1>Dashboard</h1>
<legend>Übersicht</legend>
<p>Hier wird es eine Übersicht zum Verteiler geben.</p>
<list>
	<li>letzte Mail</li>
	<li>total Mails</li>
	<li>Mails pro Verteiler</li>
	<li>Mails pro Absender</li>
	<li>Durchschnittliche Empfängerzahl?</li>
	<li>Empfänger pro Liste? Top-Listen?</li>
	<li>...</li>
</list>
<legend>Statistiken</legend>
<p>...</p>
