<h1>Datenimport</h1>

	<legend>So geht's:</legend>
	<div class="col-md-7">
	<ul>
		<li>Die Datei muss im Format <b>.xls</b>, <b>.xlsx</b>, <b>.ods</b> oder <b>.csv</b> gespeichert sein</li>
		<li>Der Inhalt muss dem Screenshot entsprechen</li>
		<li>Die Listenspalte ist <b>optional</b> und kann weggelassen werden</li>
		<li>Benutzer werden, sofern nicht vorhanden, automatisch erstellt</li>
		<li>Die zugeordnete Liste wird dem jeweiligen Benutzer automatisch zugewiesen</li>
		<li>Bereits existierende Benutzer und Abonnements werden automatisch übersprungen</li>
		<li>Sollen einem Benutzer mehrere Listen zugeordnet werden, muss für jede Liste eine separate Zeile erstellt werden</li>
	</ul>
		<%= simple_form_for :generic_import, url: :import_generic_import, multipart: true, html: {class: 'form-inline'} do |f| %>
			<div class="form-group">
				<%= f.file_field :file %>
			</div>
			<div class="form-group">
				<%= f.submit t('import.upload'), name: 'upload', class: 'btn btn-primary', disabled: false %>
			</div>
		<% end %>
	</div>
  	<div class="col-md-5">
  		<%= image_tag 'generic_import.png' %>
  	</div>
