footer {
  text-align: center;
  padding: 20px;
}


table th .search-input { 
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.copyright {
	padding: 2px 3px 2px 3px;
	background: #222222;
	opacity: .8;
	border-radius: 6px;
	color: #999999;
}
