footer {
  text-align: center;
  padding: 20px;
}

body {
	padding-top: 50px;
	padding-bottom: 40px;
}

table th .search-input { 
  margin: 0px 0px 0px 0px;
  margin-bottom: 0px;
  width: 95%;
}

.copyright {
	padding: 2px 3px 2px 3px;
	background: #BBBBBB;
	opacity: .8;
	border-radius: 6px;
}