// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-user { background: #AAAAAA}

.checkbox_container {
  display: block;
  vertical-align: -2px;
  margin: 5px;
 }
.checkbox_container input {
  display: inline;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  margin-left: 3px;
  vertical-align: 2px;
 }